<% 
const changeStatus = (prefixAdmin, id, status) => {
    
    let newStatus = status === 'active' ? 'inactive' : 'active';
    const link = `http://localhost:3000/admin/${prefixAdmin}/changeStatus/${id}/${status}`;
}
    $.ajax({
        type: "get",
        url: link,
        dataType: "json",
        success: function () {
            let color = newStatus === 'active' ? 'success' : 'danger';
            let icon = newStatus === 'active' ? 'fa-check' : 'fa-times';
        
            xhtml = `<a href="javascript:changeStatus('${prefixAdmin}','${id}','${newStatus}')" class="rounded-circle btn btn-sm btn-${color}"><i class="fas ${icon}"></i></a>`
        
            $(`#status-${id}`).html(xhtml);
            Swal.fire({
            position: "top-end",
            icon: "success",
            title: "Your work has been saved",
            showConfirmButton: false,
            timer: 1500
});
        }
    });
%>