<div class="alert flash {{alert_class}}" style="display:none">
    <button type="button" class="close">×</button>
    <i class="fa {{icon_class}} sign"></i><strong><%= type %></strong> 
    <span><%= message %></span>
  </div>